body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin: 2px;
    color: #aaa;
    background-color: #333;
}

button:disabled{
    background-color: darkred;
}

#restart{
    width: auto;
    display: block;
    margin: 0 auto 20px auto;
    height: auto;
}

