body {
    background-color: #999;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
}

#main{
    max-width: 600px;
    margin: 0 auto 0 auto;
}
#input{
    background: #bbb;
    position: absolute;
    top: 20px;
    left: 20%;
    width: 60%;
    min-height: 250px;
    height: 40%;
    margin-top: 10%;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
.hidden{
    visibility: hidden;
}

p, .inline{
    display: inline;
}

p {
    line-height: 2em;
}

#main > button {
    float: right;
}


.block {
    display: block;
}