body {
    background-color: #777;
    font-family: 'Red Hat Display', sans-serif;
}

h1{
    text-align: center;
}

.dark {
    background-color: #333;
    display: inline-grid;
    margin: 1%;
    padding: 15px;
}

#projectDiv{
    width: 25%;
    min-height: 100px;
}

#toDoListDiv{
    width: 60%;
    min-height: 100px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #777;
    color: #555;
    text-align: center;
}

.deleteBtn, .editBtn{
    width: 25px;
    height: 25px;
    display: inline;
    color: #999999;
    border: none;
    float: right;
}

.listNode > h3, .inline {
    display: inline;
}

.listNode {
    background-color: #555;
}


#addProject, #editProject, #addToDo, #editToDoDiv{
    top: 50px;
    left: 25%;
    position: absolute;
    width: 50%;
    min-height: 200px;
    background-color: #444;
    padding: 20px;
}

#addProject button, #editProject button {
    margin: 20px;
}

#projectName {
    display: block;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.project {
    background-color: #444;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.active {
    background-color: #123456;
    color: yellow;
}

#toDoListDiv{
    margin-bottom: 50px; 
}