img {
    width: 40px;
}



body {
    background-color: #999;
    font-family: 'Poppins', sans-serif;
}

p{
    margin-top: 60px;
}

#main {
    margin: 0 auto 0 auto;
    max-width: 400px;
}

h1, #nav, #counter, h2, #round {
    text-align: center;
}

#round {
    font-weight: 600;
    margin: -20px 0 20px 0;
}

button {
    background-color: #999;
    border: none;
    border-radius: 50%;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    background-size: 40px;
}


button:active {
    background: #444;
    opacity: 0.1;
}

button:disabled {
    opacity: 0.5;
}

.worker {
    text-align: center;
}




.setting, .modi {
    display: inline-block;
}

#mod {
    text-align: center;
    margin-top: -40px;
}

#workNbr, #breakNbr {
    display: inline-block;
}

.edit {
    display: block;
}

#counter {
    align-content: center;
}

p {
    font-size: 7em;
    line-height: 0;
}


#play {
    background-image: url('img/play.png');
    width: 40px;
    height: 40px;
}

#stop {
    background-image: url('img/stop.png');
    width: 40px;
    height: 40px;
}

#pause {
    background-image: url('img/pause.png');
    width: 40px;
    height: 40px;
}

#restart {
    background-image: url('img/update-arrows.png');
    width: 40px;
    height: 40px;
}

#workUp, #breakUp {
    background-image: url('img/up.png');
    width: 40px;
    height: 40px;
}


#workDown, #breakDown {
    background-image: url('img/down.png');
    width: 40px;
    height: 40px;
}

#credits  {
    text-align: center;
}

#work, #break {
    width: 190px;
}